<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">


  <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>반려동물 등록시스템</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Content Page의 CSS fragment 삽입 -->
  <th:block layout:fragment="css"></th:block>

  <!-- Content Page의 script fragment 삽입 -->
  <th:block layout:fragment="script"></th:block>

</th:block>
</html>