<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
<!--    헤더에 사용할 부분-->
<div class="header">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img src="imgs/logo.png" class="logo-image">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bList">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join">회원가입</a>
                    </li>
                    <div sec:authorize="hasRole('ROLE_admin')">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin_board">관리자 페이지(예정)</a>
                        </li>
                    </div>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form id="profileForm" th:action="@{/logout}" method="post">
                    <button class="btn btn-primary">로그아웃</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <form th:action="@{/home}" method="post">
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
            </div>

        </div>
        </nav>
</div>
</div>

</html>