<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<div layout:fragment="content">
    <!--  여기에다가 추가하면 됨 -->
    <!--  head, body 등등 사용할 필요없음, 부트스트랩, css 링크 되어있음-->
    <h2>Edit the board</h2>
    <form method="post" th:action="@{/__${board.Id}__}" enctype="multipart/form-data">
        <div>
            <label for="title">Title:</label>
            <input id="title" name="title" th:value="${board.bTitle}" type="text">
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" th:text="${board.bContent}"></textarea>
        </div>
        <div>
            <label for="image">Image:</label>
            <input id="image" name="imageFile" th:value="${board.bImage}" type="file">
        </div>
        <div>
            <label for="sound">Sound:</label>
            <input id="sound" name="soundFile" th:value="${board.bSound}" type="file">
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="/bList">Back to Board List</a>
    <p>content</p>
</div>

</html>