<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      layout:decorate="~{layout/default_layout}">
<div layout:fragment="profile">

    <div class="card" style="width: 18rem;">
<!--        <div class="circular-image">-->
<!--            <img th:if="${account.image != null}" th:src="@{'/upload/image/' + ${account.image}}" >-->
<!--            <span th:if="${account.image == null}">이미지를 등록해주세요.</span>-->
<!--        </div>-->
        <img class="card-img-top" th:if="${account.image != null}" th:src="@{'/upload/image/' + ${account.image}}" >
        <span th:if="${account.image == null}">이미지를 등록해주세요.</span>

        <div class="card-body">
            <h5 class="card-title" th:text="${#authentication.principal.username}">님! 환영합니다.</h5>
            <div th:with="role = ${#authentication.authorities.![authority].get(0)}">
                <div th:if="${role == 'ROLE_normal'}">
                    <p class="card-text">일반회원 </p>
                </div>
                <div th:if="${role == 'ROLE_admin'}">
                    <p class="card-text">관리자 </p>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
        </ul>
        <form id="profileForm" th:action="@{/logout}" method="post"></form>
            <div class="card-body">
                <form th:action="@{/logout}" method="post">
                    <a href="#" class="btn btn-primary">프로필 수정</a>
                    <button class="btn btn-primary">로그아웃</button>
                </form>
            </div>
    </div>
<!--    <div th:with="role = ${#authentication.authorities.![authority].get(0)}">-->
<!--        <div th:if="${role == 'ROLE_normal'}">-->
<!--            <div>-->
<!--                <p><img src="imgs/tier.png" alt="일반회원">&nbsp;일반 회원</p>-->
<!--            </div>-->
<!--            &lt;!&ndash;            <button type="button" onclick="location.href = '/normal'">Basic</button>&ndash;&gt;-->
<!--        </div>-->
<!--        <div th:if="${role == 'ROLE_admin'}">-->
<!--            <p>관리자 회원입니다! 모든 영화를 시청 가능합니다!</p>-->
<!--            <button type="button" onclick="location.href = '/normal'">Basic</button>-->
<!--            <button type="button" onclick="location.href = '/admin'">Gold</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-center">-->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <button class="btn btn-primary btn-sm">로그아웃</button>-->
<!--        </form>-->
<!--    </div>-->
</div>
<div layout:fragment="content">
    <h2>Main</h2>
</div>
</html>